.main {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 9rem;
    padding: 1rem 0;
    background-color: var(--gray-100);

    .mainLimiter {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 80rem;

        h3 {
            font-size: 1.75rem;
        }

        .shoppingCar {
            display: flex;
            width: 5rem;
            justify-content: space-between;
            border: 1px solid var(--gray-500);
            border-radius: 4px;
            padding: 0.5rem;
            font-size: 1.5rem;
            cursor: pointer;
            transition: 0.5s;
        }

        .shoppingCar:hover {
            color: #000;
        }

        ul {
            width: 100%;
            margin: 0.8rem 20%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            list-style: none;

            li {
                font-size: 1.2rem;
                cursor: pointer;
                transition: 0.5s;
            }

            li:hover {
                color: #000;
                text-decoration: underline;
            }
        }
    }
    .bar {
        width: 100%;
        height: 1px;
        margin: 0.5rem 0;
        background-color: var(--gray-800);
    }
}