.dataWrapper {
    display: flex;
    flex: 1;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 15px;

    .image {
        max-width: 50%;
    }

    .data {
        width: 50%;
        padding: 2rem;

        h2 {
            margin: 1rem 0;
        }

        div:first-of-type {
            padding: 1rem;
            border: 1px solid black;
            border-radius: 5px;

            p {
                margin-top: 10px;
                text-align: justify;
            }
        }

        .bottom {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 10px;

            .linkWrapper {
                display: flex;
                align-items: center;
            }

            .link {
                background-color: #25D366;
                border: 2px solid #fff;
                padding: 10px;
                border-radius: 10px;
                
                max-width: 150px;

                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                color: #fff;
                font-size: 1.15rem;
                font-weight: bold;

                cursor: pointer;

            }

            &>p {
                display: flex;
                align-items: center;
                font-size: 1.15rem;
                cursor: pointer;
                transition: 0.7s;


                &:hover {
                    color: var(--gray-800);
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (max-width: 775px) {
    .dataWrapper {
        flex-direction: column;

        .data {
            text-align: center;
            margin: 0 auto;
            width: 70%;

            .link {
                margin: 10px auto;
            }
        }
    }
}

@media (max-width: 440px) {
    .dataWrapper {
        padding: 0 5px;

        .data {
            width: 100%;
            padding: 0.5rem;
        }
    }
}

@media (max-width: 285px) {
    .data {
        .bottom {
            flex-direction: column;
        }
    }
}